html{
    width: 1400px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 0;
}

#logotipo{
    width: 10.71428571428571%;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

h1{
    font-size: 2.5rem;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    height: 60px;
    background-color: #006ea4;
    padding: 20px 0;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

nav li{
    border: 1px solid white;
    flex-grow: 1;
    margin: 0 2.5%;
}

nav li a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav li :hover{
    background-color: aliceblue;
    transition-duration: 2s;
}

main{
    height: 500px;
    background-color: #9bc2d5;
}

aside{
    width: 35.71428571428571%;
    height: 100%;
    background-color: #006ea4;
    float: left;
}

section{
    height: 100%;
    width: 64.28571428571429%;
    background-color: aliceblue;
    float: right;
}

aside ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

aside li a{
    text-decoration: none;
    color: black;
}