html{
    width: 1400px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: auto;
}

header{
    height: 100px;
    text-align: center;
    margin: 0;
}

main{
    height: 480px;
    background-color: #006ea4;
    color: white;
    padding: 10px;
    font-size: 1.3rem;
}

section{
    height: 100%;
    width: 64.28571428571429%;
    background-color: aliceblue;
    float: right;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
    padding: 15px;
    gap: 10px;
}

#bloque {
    border: 1px solid #006ea4;
    padding: 0 15px;
    width: 90%;
    color: #006ea4;
    font-size: 1rem;
}

#bloque li {
    margin-bottom: 15px;
    line-height: 1.5;
}

aside{
    width: 35.71428571428571%;
    height: 100%;
    background-color: #006ea4;
    float: left;
}

footer{
    border-top: 0.1px solid white;
    height: 110px;
    background-color: #006ea4;
    color: white;
    text-align: center;
    padding-top: 10px;
}

#logotipo{
    width: 10.71428571428571%;
    vertical-align: middle;
    float: left;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

header h1{
    font-size: 3rem;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

nav{
    height: 60px;
    background-color: #006ea4;
    padding: 20px 0;
    border-bottom: 0.1px solid white;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

nav li{
    border: 1px solid white;
    flex-basis: 200px; 
    flex-grow: 1;     
    flex-shrink: 1;    
    margin: 0 25px;
}

nav li a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#volver {
    order: -1;
    flex: 0 0 100px;   
    margin-right: 25px; 
    background-color: white;
}

#volver a{
    font-size: 1.5em;
}

nav li :hover{
    background-color: aliceblue;
    transition-duration: 2s;
}

main h2, h3{
    color: black;
    text-decoration: underline;
}

main b{
    color: black;
}

aside ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

aside li{
    border: 1px solid white;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; 
    margin: 25px;
}

aside li a{
    text-decoration: none;
    color: rgb(251, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
}